@tailwind base;
@tailwind components;
@tailwind utilities;

/*Esto quedó deprecado en la V3*/
/* @variants hover {
  .zoom {
    transform: scale(4);
  }
}

@responsive {
  .rotate-45 {
    transform: rotate(45deg);
  }
} */
@layer base {
  html {
    font-family: "Quicksand", sans-serif;
  }
}
