.productDetail {
  width: 70vw;
  height: 65vh;
  left: calc(30vw / 2);
  top: calc(35vh / 2);
}

.scrollBar {
  overflow: auto;
}

.scrollBar::-webkit-scrollbar {
  width: 5px;
}
.scrollBar::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 50px;
}

.scrollBar::-webkit-scrollbar-button {
  margin-left: 10px;
}
